streamlit>=1.32.0
firebase-admin>=6.4.0
pandas>=2.0.0
fpdf2>=2.7.9
protobuf>=4.25.0
streamlit-authenticator>=0.4.2
bcrypt>=4.0.0
PyYAML>=6.0.0
PyJWT>=2.3.0
extra-streamlit-components>=0.1.60
captcha>=0.4
cryptography>=42.0.0
